<%- model_class = Message -%>
<div class="page-header">
  <h1>信息统计报表</h1>
</div> 

<%= form_tag('', name: 'form1') do %>

<%= label_tag(:return_year, "年:", :style => "padding:0px") %>
<%= select_tag "year", options_for_select(Message.select_years, :selected=>@year) %>
<%= submit_tag "查询",:class => 'btn btn-primary', onclick: "form1.action='/shpost_asset/messages/report';form1.submit();" %>  
<%= submit_tag "报表导出",:class => 'btn btn-primary', onclick: "form1.action='report_export.xls';form1.submit();" %>
<% end %>
<br><br>
<% if !@messages.blank? %>
<div>
<table border="1" table-layout="fixed">
<tr class= 'nowrapb'>
	<th>发布单位</th>
	<th>发布内容</th>
	<th>推送条数</th>
	<th>已读条数</th>
	<th>未读单位明细</th>
	<th>发布日期</th>
	<th>状态</th>
</tr>
<% @messages.each do |m| %>
<tr class= 'nowrap'>
	<td><%= m.activate_asset.create_unit.name %></td>
	<td><%= m.activate_asset.introduce %></td>
	<td><%= @all_count %></td>
	<% m_result = m.unread_unit_names %>
	<td><%= m_result[0] %></td>
	<td><%= m_result[1] %></td>
	<td><%= m.created_at.strftime('%Y-%m-%d').to_s %></td>
	<td><%= m.activate_asset.status_name %>
</tr>
<% end %>
</table>
</div>
<% end %>
