<%- model_class = FixedAssetInfo -%>
<div class="page-header">
  <h1>固定资产报表</h1>
</div> 
<%= form_tag('', name: 'form1') %>
<div text-align:center>
<%= submit_tag "报表导出",:class => 'btn btn-primary', onclick: "form1.action='fixed_asset_report_export.xls';form1.submit();" %>

<table class="table table-striped">
<thead>
<tr>
	<th>单位名称</th>
	<th>数量</th>
	<th>总值</th>
	<% if current_user.unit.unit_level == 1 or  current_user.unit.is_facility_management_unit %>
	<th>最近修改日期</th>
	<% end %>
</tr>
</thead>
<tbody>
  <% @units.each do |x| %>
<tr>
	<td><%= x.name %></td>
	<td><%= @counts[x.id].blank? ? 0 : @counts[x.id] %></td>
	<td><%= @sums[x.id].blank? ? number_with_precision(0, precision: 2) : number_with_precision(@sums[x.id], precision: 2)  %></td>
	<% if current_user.unit.unit_level == 1 or  current_user.unit.is_facility_management_unit %>
	<td><%= FixedAssetInfo.where(manage_unit_id:x.id).blank? ? "" : FixedAssetInfo.where(manage_unit_id:x.id).last.updated_at %></td>
	<% end %>
</tr>
<% end %>
<tr>
	<td>合计</td>
	<td><%= @total_count.blank? ? 0 : @total_count %></td>
	<td><%= @total_sum.blank? ? number_with_precision(0, precision: 2) : number_with_precision(@total_sum, precision: 2) %></td>
</tr>
</tbody>
</table>
</div>

