<%- model_class = FixedAssetInfo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
 
  <div style="float:right">
    <% if can? :fixed_asset_info_import, FixedAssetInfo %>
      <%= link_to t('.import', :default => t("helpers.links.import")), "/shpost_asset/fixed_asset_infos/fixed_asset_info_import", :class => 'btn btn-primary' %>
    <% end %>
    <%= submit_tag "打印",:class => 'btn btn-primary', target: '_blank', onclick: "form1.action='fixed_asset_infos/print';form1.submit();" %>
    <button class="btn btn-primary wg-external-csv-export-button" data-grid-name="fixed_asset_infos">导出</button>
  </div>
 
<%= form_tag('', :method => "post", name: 'form1') do %>
  
<%= render partial: 'fixed_asset_infos_grid' %>

<%end %>

</div>


