<%- model_class = FixedAssetInfo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div>
<%= form_tag('', name: 'form1') %>
<div>
  <table>
  <tr>
    <td><%= label_tag(:asset_no, "资产编号:") %></td>
    <td><%= @fixed_asset_info.try :asset_no %></td>
  </tr>
  <tr>
    <td><%= label_tag(:asset_name, "资产名称:") %></td>
    <td><%= @fixed_asset_info.try :asset_name %></td>
  </tr>
  <tr>
    <td><%= label_tag(:brand_model, "结构/型号:") %></td>
    <td><%= @fixed_asset_info.try :brand_model %></td>
  </tr>
  <tr>
    <td><%= label_tag(:use_years, "使用年限:") %></td>
    <td><%= @fixed_asset_info.try :use_years %></td>
  </tr>
  <tr>
    <td><%= label_tag(:sum, "原值:") %></td>
    <td><%= @fixed_asset_info.try :sum %></td>
  </tr>
  <tr>
    <td><%= label_tag(:use_at, "领用日期:") %></td>
    <td><%= @fixed_asset_info.use_at.blank? ? "" : @fixed_asset_info.use_at.strftime('%Y-%m-%d').to_s %></td>
  </tr>
  <tr>
    <td><%= label_tag(:belong_unit, "归属管理:") %></td>
    <td><%= @fixed_asset_info.try :belong_unit %></td>
  </tr>
  <tr>
    <td><%= label_tag(:unit_id, "使用部门:") %></td>
    <td><%= @fixed_asset_info.unit.blank? ? "" : @fixed_asset_info.unit.name %></td>
  </tr>
  <tr>
    <td><%= label_tag(:branch, "所在网点:") %></td>
    <td><%= @fixed_asset_info.try :branch %></td>
  </tr>
  <tr>
    <td><%= label_tag(:location, "所在地点:") %></td>
    <td><%= @fixed_asset_info.try :location %></td>
  </tr>
  <tr>
    <td><%= label_tag(:user, "使用人:") %></td>
    <td><%= @fixed_asset_info.try :user %></td>
  </tr>
  <tr>
    <td><%= label_tag(:desc1, "使用单位:") %></td>
    <td><%= @fixed_asset_info.try :desc1 %></td>
  </tr>
</table>

</div>
</form>

<style>
@media (max-width: 767px) {
    .header-container {
        display: none;
    }
    .main-container .container {
        margin: 0 auto;
    }
    .main-container .left-slider {
        display: none;
    }
}
</style>