<%= form_for @low_value_consumption_info, :html => { :class => 'form-horizontal' } do |f| %>
<%= f.error_messages %>
  <div class="control-group">
    <%= f.label "一到三级类别目录", :class => 'control-label' %>
    <div class="controls">
      <%= low_value_consumption_parent_catalog_select_autocom("lvc_info",@low_value_consumption_info.id) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "四级类别目录", :class => 'control-label' %><font color="#FF0000">  *</font>
    <div class="controls">
      <%= low_value_consumption_catalog4_select_autocom("low_value_consumption_info", @low_value_consumption_info.id, nil) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :branch, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :branch, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :use_user, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :use_user, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :relevant_unit_id, :class => 'control-label' %>
    <div class="controls">
      <%= relevant_department_select_autocom("low_value_consumption_info",@low_value_consumption_info.id) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :use_unit_id, :class => 'control-label' %>
    <div class="controls">
      <%= use_unit_select_autocom("low_value_consumption_info",@low_value_consumption_info.id) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :desc1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :desc1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%=f.check_box :is_rent,:class =>'check_box', :id =>"isrent"%>
      <%= f.label :is_rent, :class => 'control-label' %> 
    </div>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            low_value_consumption_infos_path(@low_value_consumption_info), :class => 'btn btn-default' %>
 
<% end %>