<%- model_class = LowValueConsumptionInfo -%>
<div class="page-header">
  <h1>批量更新</h1>
  <font color="#FF0000">(输入框填入数据将覆盖原有数据,空白不填表示不更改原字段数据内容,是否租赁勾选则所有资产都改为租赁，不勾改为非租赁,请谨慎修改)</font>
</div>
<div>
   <%= form_tag(batch_update_low_value_consumption_infos_path, method: "post")%>
   <%= hidden_field_tag('lvcids',@lvcids)%>
   <%= hidden_field_tag('is_batch',"1")%>
    <div class="control-group">
      <%= label_tag(:lvc_catalog_id, "一到三级类别目录") %>
      <div class="controls">
        <%= low_value_consumption_parent_catalog_select_autocom("lvc_info",@low_value_consumption_info.id) %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag(:lvc_catalog_id, "四级类别目录") %><font color="#FF0000">  *</font>
      <div class="controls">
        <%= low_value_consumption_catalog4_select_autocom("low_value_consumption_info", @low_value_consumption_info.id, nil) %>
      </div>
    </div>  
    <div class="control-group">
      <%= label_tag(:branch, "所在网点") %>
      <div class="controls">
      <%= text_field_tag(:branch,@low_value_consumption_info.branch, :value=>nil) %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag(:location, "所在地点") %>
      <div class="controls">
      <%= text_field_tag(:location,@low_value_consumption_info.location, :value=>nil) %>
	    </div>
    </div>
    <div class="control-group">
      <%= label_tag(:use_user, "使用人") %>
      <div class="controls">
      <%= text_field_tag(:use_user,@low_value_consumption_info.use_user, :value=>nil) %>
	    </div>
    </div>
    <div class="control-group">
      <%= label_tag(:relevant_unit_id, "归口管理部门") %>
      <div class="controls">
      <%= relevant_department_select_autocom("low_value_consumption_info",@low_value_consumption_info.id) %>
	    </div>
    </div>
    <div class="control-group">
      <%= label_tag(:use_unit_id, "使用部门") %>
      <div class="controls">
      <%= use_unit_select_autocom("low_value_consumption_info",@low_value_consumption_info.id) %>
	    </div>
    </div>
    <div class="control-group">
      <%= label_tag(:desc1, "备注") %>
      <div class="controls">
        <%= text_field_tag(:desc1,@low_value_consumption_info.desc1, :value=>nil) %>
      </div>
    </div>
    <div class="control-group">
      <%= check_box("checkbox","is_rent")%>是否租赁
    </div>
    <p><p><p>
    <div>
      <%= submit_tag "批量更新",:class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              low_value_consumption_infos_path, :class => 'btn btn-default' %>
    </div>
  </form>
</div>