<%- model_class = LowValueConsumptionInfo -%>
<div class="page-header">
  <h1>在用低值易耗品信息  </h1>
  <div><%= render partial: '/layouts/page_size' %></div>

  <div style="float:right">
    <% if can? :low_value_consumption_info_import, LowValueConsumptionInfo %>
      <!-- <%= link_to t('.import', :default => t("helpers.links.import")), "/shpost_asset/low_value_consumption_infos/low_value_consumption_info_import", :class => 'btn btn-primary' %> -->
    <% end %>
  	<% if (can? :update, LowValueConsumptionInfo) %>
    <%= submit_tag "批量修改",:class => 'btn btn-primary', onclick: "form2.action='low_value_consumption_infos/batch_edit';form2.submit();" %>
    <% end %>
    <% if (can? :batch_destroy, LowValueConsumptionInfo) %>
    <% submit_tag "批量删除",:class => 'btn btn-primary', onclick: "if(!confirm('确定删除?')){return false;}else{form2.action='low_value_consumption_infos/batch_destroy';form2.submit();}" %>
    <% end %>
    <% if (can? :discard, LowValueConsumptionInfo) %>
    <%= submit_tag "报废",:class => 'btn btn-primary', onclick: "if(!confirm('确定报废?')){return false;}else{form2.action='low_value_consumption_infos/discard?atype=lvc';form2.submit();}" %>
    <% end %>
    <% if can? :reprint_import, FixedAssetInfo %>
    <%= link_to '补打导入', "/shpost_asset/low_value_consumption_infos/reprint_import", :class => 'btn btn-primary' %>
    <% end %>
    <% if (can? :print, LowValueConsumptionInfo) %>
  	<%= submit_tag "打印",:class => 'btn btn-primary', target: '_blank', onclick: "form2.action='low_value_consumption_infos/print';form2.submit();" %>
  	<% end %>
    <button class="btn btn-primary wg-external-csv-export-button" data-grid-name="low_value_consumption_infos">导出</button>
  </div>
</div>
<div>
  <%= form_tag('', :method => "get", name: 'form1') do %>
  <b>一级类别:</b><%= select("catalog","catalog1", LowValueConsumptionCatalog.where("length(code)=2").order(:code).map{|c| [c.name,c.id]}.insert(0,""),class: 'control-label') %>
  <b>二级类别:</b>
  <% if !@catalog2s.blank? %>
  <%= select("catalog","catalog2", @catalog2s,class: 'control-label') %>    
  <% else %>
    <%= select_tag "catalog2", options_for_select("") %>
  <% end %>
  <b>三级类别:</b>
  <% if !@catalog3s.blank? %>
  <%= select("catalog","catalog3", @catalog3s,class: 'control-label') %>    
  <% else %>
    <%= select_tag "catalog3", options_for_select("") %>
  <% end %>
  <b>四级类别:</b>
  <% if !@catalog4s.blank? %>
  <%= select("catalog","catalog4", @catalog4s,class: 'control-label') %>    
  <% else %>
    <%= select_tag "catalog4", options_for_select("") %>
  <% end %>
  <%= submit_tag "查询", :class => 'btn btn-primary', :method => "get", onclick: "form1.action='/shpost_asset/low_value_consumption_infos';form1.submit();" %>
  <%end %>  

<%= form_tag('', :method => "post", name: 'form2') do %>  
<div style="float:left"><%= render :partial => 'low_value_consumption_infos_grid' %></div>
<%end %>
</div>

