<%- model_class = LowValueConsumptionInfo -%>
<div class="page-header">
  <h1>在用低值易耗品信息</h1>

  <div style="float:right">
    <% if can? :low_value_consumption_info_import, LowValueConsumptionInfo %>
      <%= link_to t('.import', :default => t("helpers.links.import")), "/shpost_asset/low_value_consumption_infos/low_value_consumption_info_import", :class => 'btn btn-primary' %>
    <% end %>
  	<% if (can? :update, LowValueConsumptionInfo) %>
    <%= submit_tag "批量修改",:class => 'btn btn-primary', onclick: "form1.action='low_value_consumption_infos/batch_edit';form1.submit();" %>
    <% end %>
    <% if (can? :batch_destroy, LowValueConsumptionInfo) %>
    <%= submit_tag "批量删除",:class => 'btn btn-primary', onclick: "if(!confirm('确定删除?')){return false;}else{form1.action='low_value_consumption_infos/batch_destroy';form1.submit();}" %>
    <% end %>
    <% if (can? :discard, LowValueConsumptionInfo) %>
    <%= submit_tag "报废",:class => 'btn btn-primary', onclick: "if(!confirm('确定报废?')){return false;}else{form1.action='low_value_consumption_infos/discard';form1.submit();}" %>
    <% end %>
    <% if (can? :print, LowValueConsumptionInfo) %>
  	<%= submit_tag "打印",:class => 'btn btn-primary', target: '_blank', onclick: "form1.action='low_value_consumption_infos/print';form1.submit();" %>
  	<% end %>
    <button class="btn btn-primary wg-external-csv-export-button" data-grid-name="low_value_consumption_infos">导出</button>
  </div>
<%= form_tag('', :method => "post", name: 'form1') do %>
  
<%= render :partial => 'low_value_consumption_infos_grid' %>

<%end %>
</div>