<%- model_class = LowValueConsumptionInfo -%>
<div class="page-header">
  <h1>低值易耗品报表</h1>
</div> 
<div text-align:center>
<table class="table table-striped">
<thead>
<tr>
	<th>单位名称</th>
	<th>数量</th>
	<th>总值</th>
</tr>
</thead>
<tbody>
  <% @units.each do |x| %>
<tr>
	<td><%= x.name %></td>
	<td><%= @counts[x.id].blank? ? 0 : @counts[x.id] %></td>
	<td><%= @sums[x.id].blank? ? number_with_precision(0, precision: 2) : number_with_precision(@sums[x.id], precision: 2) %></td>
</tr>
<% end %>
<tr>
	<td>合计</td>
	<td><%= @total_count.blank? ? 0 : @total_count %></td>
	<td><%= @total_sum.blank? ? number_with_precision(0, precision: 2) : number_with_precision(@total_sum, precision: 2) %></td>
</tr>
</tbody>
</table>
</div>

