<%- model_class = Unit -%>
<div class="page-header">
  <% title = "单位管理"+"      " %>
  <h1><%=title%></h1>
  <table>
    <tr>
      <% current_unit_level = current_user.unit.blank? ? 0 : current_user.unit.unit_level %>
      <%  if !@current_id.blank? and !@current_level.blank? and (current_unit_level == 0 or current_unit_level == 1) %>
      <td>
      <%=  link_to(Unit.where(unit_level:1).first.try(:name),unit_path(Unit.find_by(unit_level:1).id),:style=>"text-decoration:underline")  %>
      <%= " -> " %>
      </td>    
      <% end %>
      <% if @current_level == 2 %>
      <td>
        
        <%= link_to(Unit.find_by(id:@current_id).try(:name),unit_path(@current_id),:style=>"text-decoration:underline") %>
      </td>
      <% end %>
      <% if @current_level == 3 %>
      <% if !Unit.find_by(id:@current_id).parent.blank? %>
      <td>
        
        <%= link_to(Unit.find_by(id:@current_id).parent.try(:name),unit_path(Unit.find_by(id:@current_id).parent.id),:style=>"text-decoration:underline") %>
      </td>
      <td>
        <%= " -> " %>
        <%= link_to(Unit.find_by(id:@current_id).try(:name),unit_path(Unit.find_by(id:@current_id).id),:style=>"text-decoration:underline") %>
      </td>
      <% end %>
      <% end %>
    </tr>
  </table>
  <% if current_user.unit.blank? or current_user.unit.unit_level == 1 %>
  <div style="float:right">
    <%= link_to t('.import', :default => t("helpers.links.import")),
                  "/units/import",
                  :class => 'btn btn-primary' %> 
  </div>
  <% end %>
</div>


<%= grid(@units_grid) do |g|
    g.column name: model_class.human_attribute_name(:no), attribute: 'no'

    g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    g.column name: model_class.human_attribute_name(:short_name), attribute: 'short_name'

    g.column name: model_class.human_attribute_name(:unit_desc), attribute: 'unit_desc'

    g.column name: model_class.human_attribute_name(:tcbd_khdh), attribute: 'tcbd_khdh'

    g.column name: model_class.human_attribute_name(:unit_level), attribute: 'unit_level',custom_filter: Unit::UNIT_LEVEL.invert do |unit| 
      unit.unit_level
    end
    
    g.column name: model_class.human_attribute_name(:parent_id), attribute: 'parent_id' ,custom_filter: Unit.accessible_by(current_ability).map{|u| [u.name,u.id]} do |unit|
        unit.parent_id.blank? ? "" : Unit.find_by(id:unit.parent_id).name
    end

    g.column name: model_class.human_attribute_name(:is_facility_management_unit), attribute: 'is_facility_management_unit' do |unit| 
      unit.is_facility_management_unit_name
    end

    
    g.column do |unit|
      ActiveSupport::SafeBuffer.new << 
        (link_to t("新增下级单位"), newsub_unit_path(unit), :class => 'btn btn-xs btn-primary' if (can? :newsub, unit) and [1,2,3].include?unit.unit_level) << ' ' << 
        (link_to t('.edit', :default => t("helpers.links.edit")), update_unit_unit_path(unit), :class => 'btn btn-xs btn-primary' if can? :update, unit) << ' ' <<
        (link_to t('.destroy', :default => t("helpers.links.destroy")), destroy_unit_unit_path(unit), :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => '确定删除?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, unit) << ' ' <<
        (link_to t('.users', :default => t("helpers.links.users")), unit_users_path(unit), :class => 'btn btn-xs btn-info' if can? :user, unit) << ' ' <<
        (link_to "下级单位", unit_path(unit), :class => 'btn btn-xs btn-primary' if (can? :read, unit) and [1,2,3].include?unit.unit_level)
    end
  end 
%>