<%- model_class = Unit -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<div>
   <%= form_tag("/units/update_unit_info", method: "post")%>
   <%= hidden_field_tag('unitid',@unit.id)%>
   <table>
    <tr style="height:70px;">
      <td><%= label_tag(:no, "编号") %></td>
      <td><%= text_field_tag(:no,@unit.no) %></td>
	  </tr>
    <tr style="height:70px;">
      <td><%= label_tag(:name, "单位名称") %></td>
      <td><%= text_field_tag(:name,@unit.name) %></td>
	  </tr>
    <tr style="height:70px;">
      <td><%= label_tag(:short_name, "英文缩写") %></td>
      <td><%= text_field_tag(:short_name,@unit.short_name) %></td>
	  </tr>
    <tr style="height:70px;">
      <td><%= label_tag(:desc, "单位描述") %></td>
      <td><%= text_field_tag(:desc,@unit.desc) %></td>
	  </tr>
    <tr style="height:70px;">
      <td><%= label_tag(:tcbd_khdh, "商务投递客户编号") %></td>
      <td><%= text_field_tag(:tcbd_khdh,@unit.tcbd_khdh) %></td>
	  </tr>
   <% if @unit.unit_level == 2 %>
    <tr style="height:70px;">
    <td><%= check_box_tag 'is_facility_management_unit' %>是否为设备管理单位</td>
    </tr>
   <% end %>
  </table>
  <div>
    <%= submit_tag "更新单位管理",:class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            units_path, :class => 'btn btn-default' %>
  </div>
   </form>
</div>