<%= form_for ([ @purchase, @low_value_consumption_info]), :html => { :class => 'form-horizontal' } do |f| %>
<% if (["waiting", "declined"].include?@purchase.status and !@purchase.is_send) or @purchase.status.eql?"revoked" %>
  <div class="control-group">
    <%= f.label "一到三级类别目录", :class => 'control-label' %>
    <div class="controls">
      <%= low_value_consumption_parent_catalog_select_autocom("lvc_info",@low_value_consumption_info.id) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "四级类别目录", :class => 'control-label' %><font color="#FF0000">  *</font>
    <div class="controls">
      <%= low_value_consumption_catalog4_select_autocom("low_value_consumption_info", @low_value_consumption_info.id, nil) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :asset_name, :class => 'control-label' %><font color="#FF0000">  *</font>
    <div class="controls">
      <%= f.text_field :asset_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :batch_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :batch_no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :brand_model, :class => 'control-label' %><font color="#FF0000">  *</font>
    <div class="controls">
      <%= f.text_field :brand_model, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :measurement_unit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :measurement_unit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sum, :class => 'control-label' %><font color="#FF0000">  *</font>
    <div class="controls">
      <%= f.text_field :sum, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :use_years, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :use_years, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :buy_at, :class => 'control-label' %><font color="#FF0000">  *</font>
    <div class="controls">

      <%= f.text_field  :buy_at %>
    </div>
  </div>
  <% end %>
  <div class="control-group">
    <%= f.label :branch, :class => 'control-label' %><font color="#FF0000">  *</font>
    <div class="controls">
      <%= f.text_field :branch, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %><font color="#FF0000">  *</font>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :relevant_unit_id, :class => 'control-label' %><font color="#FF0000">  *</font>
    <div class="controls">
      <%= relevant_department_select_autocom("low_value_consumption_info",@low_value_consumption_info.id) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :use_unit_id, :class => 'control-label' %><font color="#FF0000">  *</font>
    <div class="controls">
      <%= use_unit_select_autocom("low_value_consumption_info",@low_value_consumption_info.id) %>
    </div>
  </div>
  
<% if (["waiting", "declined"].include?@purchase.status and !@purchase.is_send) or @purchase.status.eql?"revoked" %>
  <div class="control-group">
    <%= f.label :desc1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :desc1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :change_log, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :change_log, :class => 'text_field' %>
    </div>
  </div>
<% if @low_value_consumption_info.asset_name.blank? %>
  <div class="control-group">
    <%= label_tag(:amount, "数量") %><font color="#FF0000">  *</font>
    <div class="controls">
      <%= text_field("amount", "amount") %>
    </div>  
  </div>
<% end %>
  <div class="control-group">
    <div class="controls">
      <%=f.check_box :is_rent,:class =>'check_box', :id =>"isrent"%>
      <%= f.label :is_rent, :class => 'control-label' %> 
    </div>
  </div>
<% end %>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            purchase_low_value_consumption_infos_path(@purchase), :class => 'btn btn-default' %>
 
<% end %>