<%- model_class = RentInfo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div><%= render partial: '/layouts/page_size' %></div>
  <%= form_tag('', :method => "post", name: 'form1') do %>
  <div style="float:right">
    <% if (can? :new, RentInfo) and (@purchase.status.eql?"waiting" and @purchase.create_user_id == current_user.id) %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_purchase_rent_info_path,
                  :class => 'btn btn-primary' %>
      <%= link_to t('.import', :default => t("helpers.links.import")),
                  import_purchase_rent_infos_path,
                  :class => 'btn btn-primary' %>

    <%= submit_tag "批量删除",:class => 'btn btn-primary', onclick: "if(!confirm('确定删除?')){return false;}else{form1.action='rent_infos/batch_destroy';form1.submit();}" %>
    <% end %>

    <% if (can? :update, RentInfo) and ((@purchase.create_user_id == current_user.id and @purchase.status.eql?"waiting")  or ((@purchase.manage_unit_id == current_user.unit_id) and (@purchase.status.in?(["waiting","declined"])))) %>
    <%= submit_tag "批量修改",:class => 'btn btn-primary', onclick: "form1.action='rent_infos/batch_edit';form1.submit();" %>
    
    <% end %>
    <% if @purchase.status.eql?"done" and (can? :print, RentInfo) %>
    <%= submit_tag "打印",:class => 'btn btn-primary', target: '_blank', onclick: "form1.action='rent_infos/print';form1.submit();" %>
    <% end %>
    <button class="btn btn-primary wg-external-csv-export-button" data-grid-name="purchase_rent_infos">导出</button>
  </div>


<div style="float:left"><%= render :partial => 'purchase_rent_infos_grid' %></div>

<%end %>
</div>